@import '../variables';

.navbar-container {
    height: 66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__acount {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        &-greeting, &-alerts {
            >p {
                margin: 0;
            }
        }

        &-greeting {
            @extend %text-primary;
            margin-left: 30px;
        }

        &-alerts {
            @extend %text-secondary;
            
            p {
                color: $text-secondary;
                opacity: 0.5;
            }

            a {
                text-decoration: none;
            }

            .text-blue {
                color: #0b44c8;
                opacity: 1;
                font-weight: bolder;
            }
        }

    }

    &__icons {
        width: 135px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;

        .icon {
            filter: invert(99%) sepia(81%) saturate(317%) hue-rotate(345deg) brightness(107%) contrast(92%);
        }
    }
}