.navbar-container {
    background-color: blueviolet;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__slogan {
        // background-color: blue;
        // width: 100px;
    }

    &__acount {
        background-color: bisque;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        &-greeting {
            >p {
                margin: 0;
            }
        }

        &-image {
            width: 40px;
            height: 40px;
            background-color: brown;
            border-radius: 50%;
        }
    }
}