@import './variables';

.layout {
    height: 100vh;
    width: 100vw ;
    padding: 30px 40px;

    &-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 66px auto;
        font-family: $font-secondary;

        &__full {

            &-navbar {
                border-bottom: 1.6px solid $table-border-primary;
            }
            
            &-base {
                height: 100%;
                
                &-panel {
                    height: calc(100vh - 68px - 60px);
                }
            }
        }

        &__left-nav {
            border-right: 1.6px solid $table-border-primary;
        }
    }

}

@media screen and (max-width: 1200px) {
    .layout {
        
        &-container {
    
            &__full {
                
                &-base {
                    
                    &-panel {
                        height: 100%;
                    }
                }
            }
        }
    
    }
}
