@import './variables';

.layout-container {
    display: grid;
    grid-template-columns: 86px auto;
    font-family: $font-secondary;

    &__body {
        
        &-base {
            background-color: #eeeeee;
            // height: calc(100vh - 60px - 40px);
            height: calc(100vh - 80px);
            padding: 10px;
            
            &-panel {
                height: 100%;  
            }
        }
    }

    &__left-nav {
        background-color: blueviolet;
        border: 1px solid blue;
    }
}
