.table {
    width: 100%;
    height: 100%;
    
    &-container {
        width: 100%;
        height: 100%;
        overflow-x: auto;
    
        position: relative;
    
        &-components {
            position: absolute;
            width: calc(100% - 20px);
            min-width: 900px;
            margin-left: 20px;
        
            thead {
                height: 75px;
                border: none;
            }
            
            tbody {
                height: 60px;
                border: none;
            }
        
            .num {
                font-family: $font-terciary;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .table {
        &-container {
            &-components {
                min-width: 530px;
                
                thead {
                    height: 50px;
                }
                
                tbody {
                    height: 36px;
                }
            
                th, td {
                    font-size: 0.8rem;
                }
            }
        }
    }
}


