// font families
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');
$font-primary: 'Rubik';
$font-secondary: 'Mulish';
$font-terciary: 'Poppins';

// Colors
$palette-primary: #4c20df;
$palette-secondary: #cb65e2;
$palette-terciary: #4c57e9;

$text-primary: #030303;
$text-secondary: #606060;
$text-terciary: #60606080;

$table-border-primary: #e3e3e34b;

// Header
%head-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

// Text
%text-primary {
    font-size: 30px;
    color: $text-primary;
}
%text-secondary {
    font-size: 17px;
    color: $text-primary;
}
%text-terciary {
    font-size: 15px;
    color: $text-primary;
}
%text-quaternary {
    font-size: 13px;
    color: $text-terciary;
}

// Buttons
%button {
    background-color: #3f3f3f;
    color: #d4d4d4;
    margin: 0px 4px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;

    font-size: 14px;
    // font-family: $font;
}

// Select
%select {
    width: 220px;
    height: 40px;

    border: 2px solid rgb(18, 18, 18);
    border-radius: 10px;
    padding: 0 8px;

    font-weight: bold;
}